@import './../assets/variables';

.overlayGallery {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: $galleryOverlayBackground;
}

.closeGallery {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 20px;
    color: white;
    font-size: 50px;
}

.display-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        max-height: 100%;
    }
}

.image-box {
    background-color: $galleryBoxBackground;
    height: 90%;
}

.image-box-wrapper { 
    height: 100%;
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    justify-content: center;
}

.caption-box {
    background-color: $galleryBoxBackground;
    color: $fontColor;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;

    &_number {
        font-size: 3rem;
        color: $accentColorDark;
    }
}

.navigation-icon {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    
    img {
        height: 40px;
    }
}