$backgroundColorMain: #f1f1f1;
$fontColor: rgb(48, 48, 48);
$accentColor: #81b29a;
$accentColorDark: #5f8189;
$accentColorLight: #abb9bc;

$galleryOverlayBackground: rgba(72, 101, 114, 0.8);
$galleryBoxBackground : #e4e4e4;

